.red{
  color:red;
}
.fullDark{
  background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 0.603) 0%, rgba(0,0,238,1) 50%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,238,1) 50%, rgba(0,0,0,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,238,1) 50%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
  }

.glassLogin{
width:50%;
height: 50vh;  
background: rgba(0, 0, 0, 0.534);
border-radius: 36px;
box-shadow: 0 4px 30px rgb(0, 0, 0);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 1.5px solid rgba(2, 2, 2, 0.63);

  display: flex;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.glassCadastro{
  width:30%;
  height: 70vh;  
  background: rgba(12, 12, 12, 0.514);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1.5px solid rgba(2, 2, 2, 0.63);
  
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.boxGlass{
  background: rgb(255, 255, 255);
  border-radius: 60px;
  box-shadow: 0 0px 3px rgb(252, 252, 252);
}
.nomeBarra{
  font-weight: 500;
}
.boxNota{
  float: right;
  margin-top: -3vh;
  margin-right: 1vh;
  border-radius: 8vh;
  border-width: 0.1vh;
  font-size: 4vh;
  color: gold;
  background-color: black;
}
.titleGlass{
  font-size: 4vh;
  font-weight: 300;
  color: white;
  margin-top:-20vh;
  margin-right: 10px;
  margin-bottom: 2vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.24);



}